.flex-row-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.flex-col-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
